modules/apis/src/test/resources/api_definition_1/sample-accounts-api.wadl

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <grammars/>
    <resources base="https://server1/AMB-ACCOUNTS-RS/service">
        <resource path="/">
            <resource path="info">
                <method name="GET">
                    <response>
                        <representation mediaType="*/*"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/accounts/v01">
            <resource path="/WGL0Check">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json">
                            <param name="request" style="plain" type="xs:string"/>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/callFinancialService">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json">
                            <param name="request" style="plain" type="xs:string"/>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/getAccountDetails">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json">
                            <param name="request" style="plain" type="xs:string"/>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/getDepositAccountDetails">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json">
                            <param name="request" style="plain" type="xs:string"/>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/getDepositAccountTransactions">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json">
                            <param name="request" style="plain" type="xs:string"/>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/getOverviewDetails">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json">
                            <param name="request" style="plain" type="xs:string"/>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/requestCurrentAccountTransactionDetail">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json">
                            <param name="request" style="plain" type="xs:string"/>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/requestCurrentAccountTransactionList">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json">
                            <param name="request" style="plain" type="xs:string"/>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/retrieveAccountsEnh">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json">
                            <param name="request" style="plain" type="xs:string"/>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/saveAccountNickName">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json">
                            <param name="request" style="plain" type="xs:string"/>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/saveAccountTransactionInternalNotes">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json">
                            <param name="request" style="plain" type="xs:string"/>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>